[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
python-telegram-bot = "*"
googletrans = "*"
py-translator = "*"
requests = "*"
"psycopg2-binary" = "*"
redis = "*"

[requires]
python_version = "3.7"
